<!-- add header -->
<%- include('includes/_header') %>
<!-- end header -->
<!-- Main section -->
<main id="main">
  <a href="/">
    <span><i class="fas fa-arrow-left"></i> All Drugs</span>
  </a>

<h2>View Drug Dosage</h2>

</main>
<!-- End main section -->
<!-- add footer -->
<%- include('includes/_footer') %>
<!-- end footer-->
