<!-- add header -->
<%- include('includes/_header') %>
<!-- end header -->
<!-- Main section -->
<!-- Background image -->
<div class="p-5 text-center bg-image"
style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp'); height: 100%;">
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
	<div class="d-flex justify-content-center align-items-center h-100">
		<div class="p-5 text-white">
			<h1 class="mb-3">Welcome to the Drug Monitor App</h1>
			<h4 class="mb-3">This is built to manage purchase, dispensing and dosages of drugs especially for those who have to take them regularly. To get started, please login or register</h4>
			<a class="btn btn-outline-light btn-lg" href="/login" role="button">Login</a>
			<a class="btn btn-outline-light btn-lg" href="/register" role="button">Register</a>
		</div>
	</div>
</div>
</div>
<!-- add footer -->
<%- include('includes/_footer') %>
<!-- end footer