<!-- add header -->
<%- include('includes/_header') %>
<!-- end header -->
<!-- Main section -->
<main id="main">
  <a href="/add-drug">
    <span class="text-gradient">New Drug <i class="fas fa-pills"></i></span>
  </a>
</main>
<!-- End main section -->
<!-- add footer -->
<%- include('includes/_footer') %>
<!-- end footer