<!-- add header -->
<%- include('includes/_header') %>
<!-- end header -->
<!-- Main section -->
<main id="main">
	<a href='/dosage'><button>Check Dosage</button></a>
	<a href='/purchase'><button>Check quantity to buy</button></a>
</main>
<!-- End main section -->
<!-- add footer -->
<%- include('includes/_footer') %>
<!-- end footer