:root{

	--light-green: #90ee90;
};

*, *::before, *::after {
  box-sizing: border-box; /*So it's easier to size*/
}

/******************************************
/* LAYOUT
/*******************************************/
html{
  width: 100%;
 /* height: 100vh;*/
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: normal;
}

body {
    width: 70%;
   /* height: 100%;*/
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
}
#app{
  min-height: 100vh;
}
#new {
    float: left;
    border-radius: 10px;
    padding: 0.7rem;
    margin: 1rem;
    border-style: none;
    background-color: var(--light-green);
}

.fa-trash {
    color: red;
}

a {
    text-decoration: none;
}
table tr:hover{
    background-color:var(--light-green) ;
}

table tr:hover td > a{
    box-shadow: none;
}
table.rt-responsive-table tr:nth-of-type(odd):hover{
    background-color:var(--light-green) ;

}
table.rt-responsive-table.rt-vertical-table td:before {
  word-break: break-word;
}
@media only screen and (max-width: 720px){
    body {
    width: 100%;
    }
    h2  {
    display: none;
  }
  label {
    display: none;
  }
}

.bg-image-vertical {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-position: right center;
background-size: auto 100%;
}

@media (min-width: 1025px) {
.h-custom-2 {
height: 100%;
}
}